.botonEnviar {
    background-color: $colorPrincipal;
  
    /* Green */
    border: none;
    color: white;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 2rem;
    margin: 1rem;
  }
  
  .input {
    width: 80%;
    padding: 1rem;
    margin: 1.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .inputRadio {
    margin: 1rem;
  }