@mixin textoGeneral($tamano, $negrita, $color, $alineacion) {
  font-size: $tamano;
  font-weight: $negrita;
  color: $color;
  text-align: $alineacion;
}

.h1General {
    @include textoGeneral(2rem, 700, $colorPrincipal, map-get($estilos, centro));
    margin-bottom: map-get($estilos, 0.5rem);
  }
  
  .h2General__celeste {
    @include textoGeneral(1.5rem, 600, $colorPrincipal, map-get($estilos, centro));
    margin-bottom: map-get($estilos, 0.5rem);
    margin-top: map-get($estilos, 0.5rem);
    grid-area: h2Gen;
  }
  
  .h3General__celeste {
    @include textoGeneral(map-get($estilos, 1rem), 600, $colorPrincipal, map-get($estilos, centro));
    margin-bottom: map-get($estilos, 0.5rem);
    grid-area: h3Gen;
  }
  
  .h3General {
    @include textoGeneral(1.5rem, 600, #ffffff, map-get($estilos, centro));
    margin-bottom: 1.5rem;
  }
  
  .pGeneral {
    @include textoGeneral(map-get($estilos, 1rem), 600, #8B8B8B, left);
    font-family: $fuentePrincipal;
    margin: map-get($estilos, 0.5rem);
    grid-area: pGen;
  }
  
  .pGeneral2 {
    @extend .pGeneral;
    grid-area: pGen2;
  }
  
  .cuadranteGeneral {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: $colorPrincipal;
    color: #ffffff;
    padding: 2rem 2rem 2rem 2rem;
    margin: map-get($estilos, 1rem);
    border-radius: 5rem;
  }
  
  .listaGeneral {
    font-size: map-get($estilos, 1rem);
    font-weight: 700;
    color: $colorPrincipal;
    padding: map-get($estilos, 1rem);
  }
  
  .listaGeneral__items {
    padding: map-get($estilos, 1rem);
    display: flex;
    font-family: $fuentePrincipal;
    flex-wrap: wrap;
  }
  
  .video {
    display: flex;
    justify-content: map-get($estilos, centro);
    align-items: map-get($estilos, centro);
    padding-left: map-get($estilos, 1rem);
    padding-right: map-get($estilos, 1rem);
  }
  
  .video__medidas {
    width: 100%;
    height: 15rem;
    border-radius: 5rem;
  }
  
  .imgGeneral {
    display: flex;
    justify-content: map-get($estilos, centro);
    border-radius: 10rem;
    padding: map-get($estilos, 0.5rem);
    width: 100%;
  }
  
  .imgGeneral__bigScreen {
    display: flex;
    justify-content: map-get($estilos, centro);
    border-radius: 10rem;
    grid-area: img;
    padding: map-get($estilos, 1rem);
    display: none;
    grid-area: imGen;
  }
  
  .audioGeneral {
    width: 100%;
    display: flex;
    justify-content: map-get($estilos, centro);
    border-radius: 10rem;
    padding: map-get($estilos, 1rem);
    grid-area: audioGen;
    border: $colorPrincipal 1px solid;
  }
  
  .mejs-container .mejs-controls .mejs-time span {
    color: #333333 !important;
  }
  
  .historiasArticulo1 {
    display: grid;
    padding: map-get($estilos, 1rem);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: "h2Gen" "h3Gen" "pGen" "pGen2" "audioGen";
  }