/* Generales */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,8BQAzQwVETtFWGmAFZjAwNSYA7M4EczfocpPa2kZ6AiC1tVQuAhJTRjLG5Nkk4QqFWHxiKBdi6RuUFjC5zMhvhUyK7tatMA=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Montserrat', sans-serif;
    }

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #18B6BD;
}

p {
    margin-bottom: 0;
}

/* Header */

header {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.logo {
    height: 10rem;
}

.nav__lista {
    display: flex;
    justify-content: space-evenly;
}

.nav__item {
    display: flex;
    font-size: 1rem;
    padding: 2rem;
}

.navbar>.container-fluid {
    justify-content: flex-end;
}

.nav__enlace {
    font-family: 'Montserrat', sans-serif;
    color: #8B8B8B;
    font-weight: 600;
}

.nav__enlace:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: underline solid 3px #18B6BD; 
}

.nav__item--buttom .nav__enlace--buttom {
    display: flex;
    background-color: #18B6BD;
    border-radius: 1.5rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    align-items: center;
    height: 0.75rem;
    color: azure;
}

/* Index__Main */

.index__main {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 1.5rem 1.5rem 1.5rem;
    padding: 8rem;
    background-image: url('../assets/img/nenaFelizPortada.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50rem;
}

.index__h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom:3rem;
    width: 50%;
}

.index__p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom:3rem;
    width: 50%;
}

.index__contacto {
    display: flex;
    background-color: #18B6BD;
    border-radius: 0.75rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    align-items: center;
    height: 1rem;
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 0rem;
}

.index__contacto:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: underline solid 0.15rem #18B6BD; 
}

/* Index__Noticias */

.noticias {
    margin-bottom: 2rem;
}

.noticias__h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #18B6BD;
    
}

.articulos {
    padding: 1rem;
    margin: 1rem;
}

.noticias__articulo1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "h3 img" 
    "p img";
}

.noticias__articulo2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img h3" 
    "img p";
}

.noticias__h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #1c2122;
    padding: 1rem;
    margin: 1rem;
    grid-area: h3;
}

.noticias__p {
    font-size: 1rem;
    font-weight: 600;
    color: #8B8B8B;
    margin: 1rem;
    grid-area: p;
}

.noticias__imagenes {
    border-radius: 10rem;
    grid-area: img;
}

/* Index__PreguntasFrecuentes */

.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: #18B6BD;
    color: #ffffff;
    padding: 0.5rem 2rem 2rem 2rem;
    margin: 1.5rem;
    border-radius: 5rem;
}

.faq__h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.faq__h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}

/* Seguinos en redes y suscribite */

.redes{
    display: flex;
    align-items: center;
    margin: 1.5rem;
    justify-content: space-around;
}

.redes__about {
    display: grid;
    grid-template: 1fr / 1fr;
    text-align: center;
}

.redes__h2, .redes__h2--suscripcion {
    font-size: 1.5rem;
    font-weight: 700;
    color: #18B6BD;
    margin-bottom: 1.5rem;
}

.redes__fb {
    background-image: url('../assets/icons/fb.png');
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.5rem;
}

.redes__fb:hover {
    background-image: url('../assets/icons/fbH.png');
} 

.redes__tw {
    background-image: url('../assets/icons/tw.png');
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.5rem;
}

.redes__tw:hover {
    background-image: url('../assets/icons/twH.png');
}

.redes__wpp {
    background-image: url('../assets/icons/wpp.png');
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.5rem;
}

.redes__wpp:hover {
    background-image: url('../assets/icons/wppH.png');
} 

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #18B6BD;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 1.5rem;
    margin: 0.5rem;
}

.politics {
    color: #ffffff;
    text-decoration: none;
}

.politics:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Paginas generales*/

.h1General {
    font-size: 2rem;
    font-weight: 700;
    color: #18B6BD;
    margin-bottom: 0.5rem;
    text-align: center;
}

.h2General__celeste {
    font-size: 1.5rem;
    font-weight: 600;
    color: #18B6BD;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
    grid-area: h2Gen;
}

.h3General__celeste {
    font-size: 1rem;
    font-weight: 600;
    color: #18B6BD;
    margin-bottom: 0.5rem;
    text-align: center;
    grid-area: h3Gen;
}

.h3General {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

.pGeneral {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #8B8B8B;
    margin: 0.5rem;
    grid-area: pGen;
}

.pGeneral2 {
    font-size: 1rem;
    font-weight: 600;
    color: #8B8B8B;
    margin: 0.5rem;
    grid-area: pGen2;
}

.cuadranteGeneral {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background-color: #18B6BD;
    color: #ffffff;
    padding: 2rem 2rem 2rem 2rem;
    margin: 1rem;
    border-radius: 5rem;
}

.listaGeneral {
    font-size: 1rem;
    font-weight: 700;
    color: #18B6BD;
    padding: 1rem;
}

.listaGeneral__items {
    padding: 1rem;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.video__medidas {
    width: 100%;
    height: 15rem;
    border-radius: 5rem;
}

.imgGeneral {
    display: flex;
    justify-content: center;
    border-radius: 10rem;
    padding: 0.5rem;
    width: 100%;
}

.imgGeneral__bigScreen {
    display: flex;
    justify-content: center;
    border-radius: 10rem;
    grid-area: img;
    padding: 1rem;
    display: none;
    grid-area: imGen;
}

.audioGeneral {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10rem;
    padding: 1rem;
    grid-area: audioGen;
    border: #18B6BD 1px solid;
}

.mejs-container .mejs-controls .mejs-time span {
    color: #333333 !important;
}

.historiasArticulo1 {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    "h2Gen" 
    "h3Gen"
    "pGen"
    "pGen2"
    "audioGen";
}

/* Contacto*/

.botonEnviar {
        background-color: #18B6BD;; /* Green */
        border: none;
        color: white;
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 2rem;
        margin: 1rem;
}

.input {
    width: 80%;
    padding: 1rem;
    margin: 1.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputRadio {
    margin: 1rem;
}

/* Mobile Responsive INDEX*/

@media (max-width: 768px) {
    
    /* Header */

    header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0.2rem;
    }

    .navbar-toggler {
        border: 2px solid #18B6BD;
        border-radius: 2rem;
    }

    .nav__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.2rem;
    }

    .nav__item {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .navbar>.container-fluid {
        justify-content: flex-end;
    }

    .navbar-toggler {
        color: white;
        }

    .logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }

    /* Index Main */

    .index__main {
        padding: 4rem;
        border-radius: 100rem;
    }
    
    .index__h1 {
        font-size: 1rem;
        width: 100%;
    }
    
    .index__p {
        font-size: 0.80rem;
        width: 100%;
    }

    /* Noticias */
    
    .noticias__articulo1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "h3" 
        "img"
        "p";
    }

    .noticias__articulo2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "h3" 
        "img"
        "p";
    }

    .articulos {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .noticias__h3 {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    
    .noticias__p {
        font-size: 1rem;
        margin: 0.5rem;
    }
    
    .noticias__imagenes {
        width: 100%;
    }

    .imgGeneral {
        width: 100%;
    }
    
     /* Faq */

     .faq {
        display: grid;
        grid-template: 1fr / 1fr;
        justify-content: space-between;
        height: 100%;
        padding: 2rem 2rem 2em 2rem;
        margin: 1rem;
    }
    
    .faq__h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    /* redes y suscribite */

    .redes {
        display: grid;
        grid-template: 1fr / 1fr;
        text-align: center;
    }
    
    .redes__h2--suscripcion {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }

    .boton__suscripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Footer */

    .footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 1rem;
    }

    .politics {
        color: #ffffff;
        text-decoration: none;
        padding-top: 1rem;
    }

    .politics:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

/* Mobile Responsive Generales (mobile first)*/

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0.2rem;
    }

    .navbar-toggler {
        border: 2px solid #18B6BD;
        border-radius: 2rem;
    }

    .navbar-toggler {
        color: white;
        }

    .nav__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.2rem;
    }

    .nav__item {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        padding: 0.5rem;
    }
    
    .video__medidas {
        width: 100%;
        height: 40rem;
        border-radius: 5rem;
    }

    .imgGeneral__bigScreen {
        display: inline-block;
    }

    .historiasArticulo1 {
        display: grid;
        padding: 2rem;
        grid-template-areas: 
        "h2Gen imGen" 
        "h3Gen imGen"
        "pGen imGen"
        "pGen2 imGen"
        "audioGen imGen";
    }

    .input {
        width: 40%;
    }
    
}

@media (min-width: 991px) {
    .nav__lista {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0.2rem;
    }

    .nav__item {
        display: flex;
        font-size: 1rem;
        padding: 2rem;
    }

    .navbar-toggler {
        color: white;
        }
}